testing_reduce.py
.vscode/settings.json
exfile.txt
this_file.txt
mbox-short.txt
new_file.txt
questions.py
test.py
supporting docs/test.txt
supporting docs/test2.txt
IMG_20190511_203353.jpg
supporting docs/text2.txt
supporting docs/text2.jpg
